@import url('https://fonts.googleapis.com/css2?family=Gravitas+One&family=Limelight&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
:root{
    --verde: #70751C;
    --beige: #FCF3EB;
    --marron: #492913;
    /*--sombra: #4929133b;*/
    --sombra: rgba(0,0,0,0.16);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: content-box;
    font-family: Arial, Helvetica, sans-serif;
    font-family: "Oswald", sans-serif;
    font-weight:400;

}
header{
    box-shadow: 0px 0px 10px 0px var(--sombra);
    /*animation: inicioHeader 2s;*/
}
header > nav{
    display: flex;
    flex-direction: row;
    animation: inicioLogo 2s;
}
header > nav > div:last-child{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
header > nav ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
}
header > nav a{
    padding: 1em 1.5em;
    color: #000;
    text-decoration: none;
}
.logo{
    font-size: 2em;
    font-family: "Limelight", sans-serif;
    font-variant: small-caps;
    background-color: var(--verde);
    color: var(--beige);
    padding: 0.5em;
    animation: inicioHeader 2s;
}

@keyframes inicioHeader {
    /*hacer la animacion a un elemento extra */
    0%{
        height: 100vh;
        width: 100vw;
    }
    100%{
        height: 71px;
        width: 139px;
    }
}